.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app-container > h2 {
  color: rgb(47, 46, 46);
  text-shadow: 2px 2px 2px pink;
  margin-top: 50px;
}

.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: rgb(15, 12, 194);
  color: rgb(196, 1, 1); 
}

.nav-bar > a {
  text-decoration: none; 
  color: rgb(241, 0, 0); 
}

.nav-bar > a:hover {
  color: rgb(233, 14, 25);
}